.App {
  text-align: center;
}
.header-container{
  margin-top: 20px;
  border: 1px solid;
}
.home-container{
  border: 1px solid;
  margin-top: 20px;
  display: flex;
}
.home-item{
  width: 100%;
  border: 1px solid;
  height: 100vh;
}
.imageArreglos{
  width: 100%;
  border-radius: 10px;
  
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}.arregloContainer{
  display:flex;
  flex-direction: column;
  justify-content:center ;
  align-items:center
}
.arreglos-container{
display: flex;
justify-content:center;
width: 85%;
border: 1px solid;
margin: 5px;
border-radius: 10px 20px;
padding: 25px;
background-color: #2b86a2;
}
.imageArregloContainer{ 
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 10px;
  
  
}
.imageArreg{
  width: 80%;
  border-radius: 10px;

}
 a{

text-decoration: none;
color: black;


}
.item-price{
  margin: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
